<h2 style='text-align: center'>why myHive?</h2>
<div class='center'>

<img id='beeart' src='https://openclipart.org/image/2400px/svg_to_png/223498/vcela.png'>

  <ul>
    <li>hive management is key to sucessfull beekeeping,</li>
    <li>but bee colonies are complicated and it's not always easy</li>
    <li>to know the right course of action when tending your hive.</li>
    <ul>
    <h5>myHive can help!</h5>
    <ul>
    <li>use the myHive app to track your observations</li>
    <li>and let your bees tell you what they need</li>
    <li>through the data trends you observe.</li>
  </ul>


</div>
