<h2 style='text-align: center'>why myHive?</h2>
<ul>
  <li>knowing what to expect next time you visit your hive</li>
  <li>knowing when to make the next inspection</li>
  <li>knowing what equipment is likely to be needed</li>
  <li>tracking details about your queen</li>
  <li>tracking details about your colony</li>
  <li>memeory back up</li>
  <li>in case the responsability falls on someone else</li>
</ul>
