<h2 style='text-align: center'>beekeeping</h2>

<p style='text-align: center'>select a month to learn about activities on the beekeeping calendar</p>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "search for a month:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("search month",:class => 'js-month light-blue lighten-2 btn') %>
<% end %>



<div id='month-text'> </div>

