<div class='center'>
  <h2 style='text-align: center'>beekeeping</h2>
  <br/>
  <p>need some advice on beekeeping through the seasons?</p>
  <p>use this handy reference to learn more about your beekeeping duties each month</p>
  <br/>
  <p> select a month to learn about activities on the beekeeping calendar</p>

  <%= form_tag("/search", method: "get") do %>
    <%= select_tag(:q,  options_for_select(['january', 'february', 'march', 'april', 'may', 'june', 'july', 'augsut', 'september', 'october', 'november', 'december'], selected: :option)) %>
    <%= submit_tag("tell me about beekeeping this month",:class => 'js-month light-blue lighten-2 btn') %>
  <% end %>
</div>

<div id='month-text' style='text-align: justify'></div>

