<div style='text-align: center'>
  <img id='hiveicon' src='http://2.bp.blogspot.com/_Jl3ytlG8Wxg/TIqgnse3sDI/AAAAAAAAA6M/KDhQ-aQSab0/s1600/mason+beehive.gif'>
  <div class='row'>
    <button data-target="modal2" class="btn modal-trigger light-blue lighten-2">login</button>
    <button data-target="modal1" class="btn modal-trigger light-blue lighten-2">signup</button>
  </div>
</div>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <%= render partial: '/users/new' %>
  </div>
</div>

<div id="modal2" class="modal modal-fixed-footer">
  <div class="modal-content">
    <%= render partial: '/sessions/new' %>
  </div>
</div>