<div class="modal-content">
<%= form_for :user, url: login_path do |f| %>
  <%= f.text_field :email, placeholder: 'email' %>
  <%= f.password_field :password, placeholder: 'password' %>
  <%= f.submit "login to my hive", :class => "btn light-blue lighten-2" %>
<% end %>
</div>
