<div class="mymodals modal-content center">
<%= form_for :user, url: signup_path do |f| %>
  <%= f.text_field :email, placeholder: 'your email' %>
  <%= f.password_field :password, placeholder: 'create a password'  %>
  <%= f.submit "singup to my hive", :class => "btn light-blue lighten-2" %>
<% end %>
</div>