<div class='row'>
<h2>myApiary</h2>
  <%= link_to 'add a hive', new_hive_path %>
</div>

    <% @hives.each do |h| %>
    <table>
      <% if h.hive_owner @current_user %>
        <td>
          <tr><%= link_to "#{h.nickname} info", h %></tr>
          <tr><%= link_to "#{h.nickname} inspections", h %></tr>
        </td>
      <% end %>
</table>
<% end %>

