<h2>myApiary</h2>

  <% @hives.each do |h| %>
    <table>
      <% if h.hive_owner @current_user %>
        <td>
          <tr><%= h.nickname %> </tr>
        </td>
        <td>
          <tr><%= link_to "info", h %></tr> |
          <tr><%= link_to "inspections", hive_inspections_path(h) %></tr>
        </td>
      <% end %>
    </table>
  <% end %>
  <%= link_to 'add a hive', new_hive_path %>
