body {
  font-family: 'Quicksand', sans-serif;
}
img {
  height: 250px;
  width: 250px;
}
#inspection-graphs span{
  display: inline-block;
}
input[type=range]+.thumb .value {
  color: red;
}
.input-field label{
  color: red;
}