body {
  font-family: 'Quicksand', sans-serif;
}
#hiveicon {
  margin-top: 30px;
  height: 250px;
  width: 250px;
  text-align: center;
}
#beeart{
  height: 70px;
}
.inspection-graphs span{
  display: inline-block;
}
.thumb-active{
  background-color: red;
  color: red;
}
#month-text{
  text-align: justify;
  width: 85%;
  margin: 0 auto;
  margin-top: 15px;
}
.center {
  text-align: center;
}
#i-title{
  maring-bottom: 15px;
}
#modal1 > div > div{
  width: 90%;
  margin-top: 12%;
}
#modal2 > div > div{
  width: 90%;
  margin-top: 12%;
}
#modal2 > div > div > form > input.btn.light-blue.lighten-2{
  margin-top: 30px;
}
#modal1 > div > div > form > input.btn.light-blue.lighten-2{
  margin-top: 30px;
}
.alert {
  color: white;
  text-align: center;

  font-size: 20px;
  width: 35%;
  margin: 0 auto;
  margin-top: 20px;
  opacity: .8;
  border-radius: 5px;
}
.z-depth-0 {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}
nav ul a{
  font-size: 20px;
  font-weight: 900;
}
.center {
  margin-right: auto;
  margin-left: auto;
}
fa fa-plus {
  color: inherit;
}