body {
  font-family: 'Quicksand', sans-serif;
}
#hiveicon {
  margin-top: 30px;
  height: 250px;
  width: 250px;
  text-align: center;
}
#inspection-graphs span{
  display: inline-block;
}
.thumb-active{
  background-color: red;
  color: red;
}