<div class='row'>
<h2><%= hive = Hive.find(params[:hive_id]).nickname %></h2>
</div>
<table>
    <% Hive.find(params[:hive_id]).inspections.each do |i| %>
    <td>
      <tr><%= i.inspection_date %></tr>
    </td>
</table>
<% end %>

