<div class='row'>
<h2><%= @hive.nickname %> inspections</h2>
<canvas id="canvas" width="300" height="200"></canvas>
</div>
<table>
    <% @hive.inspections.each do |i| %>

    <td>
    <tr><%= link_to "#{i.inspection_date}", [@hive, i] %></tr>
    </td>
</table>
<% end %>

