<div class='row'>
<h2><%= @hive.nickname %> inspections</h2>
</div>
<table>
    <%= @hive.inspections.inspect %>
    <% @hive.inspections.each do |i| %>

    <td>
    <tr><%= link_to "#{i.inspection_date}", [@hive, i] %></tr>
    </td>
</table>
<% end %>

